**/node_modules

**/.env
**/.env.*

# Next.js build
**/.next
**/out

# Other build artifacts
**/dist
**/build


# Other build artifacts
**/dist
**/build

# OS files
.DS_Store
Thumbs.db

# Vercel / Deployment
.vercel

# Turbo / Monorepo cache (if you use turborepo later)
.turbo